<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<!--<style>-->
<!--* {-->
<!--	margin: 0;-->
<!--	padding: 0;-->
<!--	box-sizing: border-box;-->
<!--}-->

<!--a {-->
<!--	text-decoration: none;-->
<!--}-->

<!--.header_container{-->
<!--	width:100%;-->
<!--	position:sticky;-->
<!--	top:0px;-->
<!--	background-color: #fff;-->
<!--	z-index: 10001;-->
<!--} -->
<!--.header_list{-->
<!--	display: flex;-->
<!--	border-bottom: 1px solid lightgray;-->
<!--}-->

<!--.header_regist {-->
<!--	text-align: right;-->
<!--	margin-top: 10px;-->
<!--	font-weight: bold;-->
<!--	font-size: 1.3rem;-->
<!--}-->

<!--.header_regist a{-->
<!--	padding: 10px 15px;-->
<!--	color: black;-->
<!--}-->

<!--.header_logo img {-->
<!--	position: absolute;-->
<!--	top: 10px;-->
<!--	left: 20px;-->
<!--	width: 150px;-->
<!--	height: 140px;-->

<!--}-->

<!--.header_menu {-->
<!--	width: 100%;-->
<!--	height: 100px;-->
<!--	display: flex;-->
<!--	justify-content: center;-->
<!--	align-items: center;-->
<!--	list-style: none;-->
<!--	font-size: 1.5rem;-->
<!--}-->

<!--.header_menu li {-->
<!--	padding: 0 30px;-->
<!--}-->

<!--</style>-->
<body>
<header th:fragment="menuFragment">
	<div class="header_container" >
		<div>

			<div class="header_regist">
				<a href="/login">로그인</a>
			</div>


					</div>
		<div class="header_list" style="width: 100%">
			<a class="header_logo" href="/"><img th:src="@{/images/siteLogo.png}" alt=""></a>
			<ul class="header_menu">
				<li><a href="/card">급식카드 가맹점</a></li>
				<li><a href="/ReviewList">리뷰</a></li>
			</ul>
		</div>
	</div>
</header>
</body>
</html>
